parameters:
    level: 5

    scanDirectories:
        - ../../core

    paths:
        - core
        - desktop
        - plugin_info
        - resources

    excludePaths:
        analyse:
            - resources/JsonPath-PHP

    ignoreErrors:
        - '#method cache::byKey\(\) expects type,#'
        - '#method config::save\(\) expects array\|object\|string#'
        - '#method event::add\(\) expects float,#'
        - '#method event::add\(\) invoked with 2 parameters,#'
        - '#method getValue\(\) on an unknown class type#'
        - '#method listener::searchClassFunctionOption\(\) expects array, string given#'
        - '#method message::add\(\) expects type,#'
        - '#usort expects callable\(mixed, mixed\): int, .* given#'
