parameters:
    level: 5

    scanDirectories:
        - ../../core

    paths:
        - core
        - desktop
        - plugin_info
        - resources

    excludePaths:
        analyse:
            - resources/JsonPath-PHP
            - resources/phpstan-stubs

    ignoreErrors:
        - '#method config::save\(\) expects array\|object\|string#'
        - '#method event::add\(\) expects float,#'
        - '#method event::add\(\) invoked with 2 parameters,#'
        - '#method message::add\(\) expects type,#'
        - '#usort expects callable\(mixed, mixed\): int, .* given#'

    stubFiles:
        - resources/phpstan-stubs/jeedom.stub
